
<%-include('partials/header');-%>

<h1>Home</h1>

<p><%=startingContent%></p>

<%posts.forEach(function(post){%>
<h1><%=post.title%></h1>
<p>
  <%=post.content.substring(0, 100) + '...'%>
<a href="/posts/<%=post.title%>">Read More</a>
</p>
<%});%>



<%-include('partials/footer');-%>


<%# The forEach() method executes a provided function once for each array element.
EJS does not specifically support blocks, but layouts can be implemented by including
headers and footers. Also, JavaScript must be inclosed between EJS tags. Comments
must also be enclosed by EJS tags. %>
